<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirect</title>
    <script>
        {% if matomo_is_enabled|default(False) == True %}
        var _paq = window._paq = window._paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//{{ matomo.get('host') }}/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '{{ matomo.get("id")|default(1) }}']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js';
            g.onload = function() {
                window.location.href = "{{ redirect }}";
            };
            s.parentNode.insertBefore(g,s);
        })();
        {% else %}
        window.location.href = "{{ redirect }}";
        {% endif %}

    </script>
</head>
<body>
</body>
</html>
